.container{
    /*display: block;*/
    /*visibility: hidden;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    /* align-items: center; */
    /*height: 600px;*/
    height: 50px;
    /* column-gap: 10px;
    row-gap: 20px; */
    gap: 20px;


}

.box{
    
    width: 100px;
    border: 2px solid violet;
    border-radius: 10px;
    background-color: yellow;
    /*margin: 10px;*/

}