*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: 1fr 1fr 1fr;*/
    /*grid-template-rows: 200px 100px 300px;*/
    /*grid-template-columns: 200px 100px 300px;*/
    /*grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"*/
   justify-items: center;
   align-items: center;
   column-gap: 20px;
   row-gap: 50px;

}

.item{
    height: 200px;
    width: 100%;
    /*width: 200px;*/
}
.uno{
    background-color: chartreuse;
    grid-column-start: 1;
    grid-column-end: 4;
}
.due{
    background-color: coral;
}
.tre{
    background-color: dodgerblue;
}

/* responsive web media query */
@media screen and (min-height: 576px;) {
    body{
        background-color: red;
    }
    
}